.classname{
  display: none!important;
}
.goodsHeader{
  width:100%;
  position: fixed;
  font-size: 24px;
  color:orange;
  z-index:99
}
.goodsHeader1{
  width:100%;
  position: fixed;
  font-size: 24px;
  color:orange;
  background: white;
  z-index:99
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 375px;
  overflow: hidden;
  width: 375px;
}

.ant-carousel .slick-slide h3 {
color: #fff;
}
.classnameimg{
  display: block!important;
  z-index: 9999999;
}
#cover_module1 ,#cover_module2{
  position: fixed;
  top: 50%;
  z-index: 9999;
  width: 3.6rem;
  height: 10%;
  max-width: 3.6rem;
  left: 100%;
  margin-left: -3.2rem;
  display: block;
  color: #fff;
  font-size: 16px;
  background-size: 2rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
#cover_module1 p ,#cover_module2 p{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 2.2rem;
  border-radius: .1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
